---
import Layout from "../../layouts/Layout.astro";

import type { Poem } from "../../types";
import { getPoems } from "../../sanity/sanity";


const poems : Poem[] = await getPoems();
---

<Layout title="Poemas">
    
	<!-- Espacio para compensar el navbar -->
	<div class="h-16"></div>

    <main class="container mx-auto min-h-screen max-w-3xl p-8">
        <h1 class="text-4xl font-bold mb-8">Poemas</h1>
        <ul class="flex flex-col gap-y-4">
            {
                poems.map(
                    (poem:Poem) => (
                        <li class="hover:underline">
                            <a href={`/poems/${poem.slug.current}`}>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <h2 class="text-xl font-semibold">
                                    {poem.title}
                                </h2>
                                <p>
                                    {new Date(
                                        poem.publishedAt
                                    ).toLocaleDateString()}
                                </p>
                            </a>
                        </li>
                    )
                )
            }
        </ul>
    </main>
</Layout>
